@import url('https://fonts.googleapis.com/css?family=Muli:400,800,900');

body {
	margin: 0;
	background-color: $white;
	font: 18px/1.15 'Muli', 'Helvetica', sans-serif;
	color: $black;
}

section {
	margin: 0 auto;
	max-width: 1200px;
	padding: 2em;
}

footer {
	background-color: $primary-color;
	color: $white;
	height: 100%;
	@include flex-center;
}

h1 {
	font-weight: 900;
	@include rem(font-size, 32px);
	color: $primary-color;
}

h2 {
	color: $secondary-color;
	@include rem(font-size, 26px);
}

h3 {
	color: $tertiary-color;
	@include rem(font-size, 22px);
}