@import url('https://fonts.googleapis.com/css?family=Muli:400,800,900');

// general page elemts
body {
	margin: 0;
	background-color: $white;
	font: 18px/1.35em 'Muli', 'Helvetica', sans-serif;
	color: $black;
}

section {		
	margin: 0 auto;
	max-width: 1200px;
	padding: 2em;
}

footer {
	background-color: $primary-color;
	color: $white;
	text-align: center;
}

// headings
h1 {
	font-weight: 900;
	font-size: 2em;
	color: $primary-color;
}

h2 {
	color: $secondary-color;
	font-size: 1.5em;
}

h3 {
	color: $tertiary-color;
	font-size: 1.25em;
}