@import url('https://fonts.googleapis.com/css?family=Muli:400,800,900');

body {
	margin: 0;
	background-color: $white;
	font: 18px/1.15 'Muli', 'Helvetica', sans-serif;
	color: $black;
}

section {
	margin: 0 auto;
	max-width: 1200px;
	padding: 2em;
}

h1 {
	font-weight: 900;
	@include rem(font-size, 32px);
	color: $primary-color;
}

h2 {
	color: $secondary-color;
	@include rem(font-size, 26px);
}

h3 {
	color: $tertiary-color;
	@include rem(font-size, 22px);
}
a {
	text-decoration: none;
	position: relative;

	&:hover,
	&:focus,
	&:active,
	&.router-link-exact-active,
	&.router-link-active {
		font-style: italic;
		text-decoration: underline;
	}

	@media screen and (min-width: 824px) {
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: 0;
			left: 0;
			background: darken($white, 15%);
			visibility: hidden;
			border-radius: 5px;
			transform: scaleX(0);
			transition: .25s linear;
		}

		&:hover:before,
		&:focus:before,
		&:active,
		&.router-link-exact-active,
		&.router-link-active {
			visibility: visible;
			transform: scaleX(1);
		} 
	}
}