.navbar {
	position: relative;
	min-height: 75px;
	@include flex-center;

	&-container {
		display: block;
		background-color: $primary-color;
		padding: 0 15px;
		box-shadow: 0 5px 10px rgba($black, 0.4);		
		transition: all 0.4s;
	}

	&-hamburger {
		display: none;
	}

  	@media screen and (max-width: 824px) {

		justify-content: flex-start;

		&-hamburger {
			display: inline;
			background: transparent;
			position: relative;
			border: 0;
			width: 50px;
			height: 30px;

			span {
				display: block;
				width: 50px;
				height: 6px;
				position: absolute;
				left: 0;
				background: $off-white;
				border-radius: 4px;
				transition: all 0.4s;

				&:nth-of-type(1) {
					top: 0;
				}

				&:nth-of-type(2) {
					top: 50%;
				}

				&:nth-of-type(3) {
					top: 100%;
				}
			}

			&:hover,
			&:focus {
				&:nth-of-type(1) {
					transform: translateY(8px / 2 * -1);
				}

				&:nth-of-type(3) {
					 transform: translateY(8px / 2);
				}
			}

			&.close {

				span {

					&:nth-of-type(1) {
						transform: rotate(45deg);
						top: 49%;
					}

					&:nth-of-type(2) {
						opacity: 0;
					}

					&:nth-of-type(3) {
						transform: rotate(-45deg);
						top: 49%;
					}
				}

			}
		}
	}

	&-links {

		li {
			display: inline-block;
			position: relative;

			a {
				text-decoration: none;
				font-size: 1.25em;
				font-weight: 800;
				color: $white;
				@include rem(padding, 14px 18px);
				position: relative;

				&:before {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					bottom: 0;
					left: 0;
					background: darken($white, 15%);
					visibility: hidden;
					border-radius: 5px;
					transform: scaleX(0);
					transition: .25s linear;
				}

				&:hover:before,
				&:focus:before,
				&:active,
				&.router-link-exact-active,
				&.router-link-active {
					visibility: visible;
					transform: scaleX(1);
				}
			}
			

			@media screen and (max-width: 824px) {
				display: block;
				@include rem(padding, 4px 6px);
			}
		}
	}

	&-sublinks {
		display: none;
		position: absolute;
		width: auto;
		height: auto;
		top: 50px;
		left: 0;
		margin: 0;
		padding: 0;
		background-color: $primary-color;
		box-shadow: 2px 2px rgba($black, 0.2);

		li {
			width: 100%;
			display: block;

			a {
				display: block;
				@include rem(padding, 10px 14px);
				@include rem(margin, 5px);
				
				@media screen and (max-width: 824px) {
					margin: 0;
					@include rem(padding, 4px 6px);
				}
			}
		}
		

		@media screen and (max-width: 824px) {
			display: block;
			box-shadow: none;
			position: relative;
			top: 0;
			@include rem(padding, 4px 6px);
		}
	}

	&-links li:hover &-sublinks,
	&-links li:active &-sublinks {
		display: block;
	}
}