@import url("https://fonts.googleapis.com/css?family=Muli:400,800,900");
body {
  margin: 0;
  background-color: #fafafa;
  font: 18px/1.15 "Muli", "Helvetica", sans-serif;
  color: #333333;
}

section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 2em;
}

h1 {
  font-weight: 900;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 32px;
  /* 9 */
  font-size: 3.2rem;
  /* 9 */
  color: #6a7976;
}

h2 {
  color: #619d8c;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 26px;
  /* 9 */
  font-size: 2.6rem;
  /* 9 */
}

h3 {
  color: #A19FA0;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 22px;
  /* 9 */
  font-size: 2.2rem;
  /* 9 */
}

a {
  text-decoration: none;
  position: relative;
}
a:hover, a:focus, a:active, a.router-link-exact-active, a.router-link-active {
  font-style: italic;
  text-decoration: underline;
}
@media screen and (min-width: 824px) {
  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #d4d4d4;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.25s linear;
  }
  a:hover:before, a:focus:before, a:active, a.router-link-exact-active, a.router-link-active {
    visibility: visible;
    transform: scaleX(1);
  }
}

.navbar {
  position: relative;
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-container {
  display: block;
  background-color: #6a7976;
  padding: 0 15px;
  box-shadow: 0 5px 10px rgba(51, 51, 51, 0.4);
  transition: all 0.4s;
}
.navbar-hamburger {
  display: none;
}
@media screen and (max-width: 824px) {
  .navbar {
    justify-content: flex-start;
  }
  .navbar-hamburger {
    display: inline;
    background: transparent;
    position: relative;
    border: 0;
    width: 50px;
    height: 30px;
  }
  .navbar-hamburger span {
    display: block;
    width: 50px;
    height: 6px;
    position: absolute;
    left: 0;
    background: #cdcdcd;
    border-radius: 4px;
    transition: all 0.4s;
  }
  .navbar-hamburger span:nth-of-type(1) {
    top: 0;
  }
  .navbar-hamburger span:nth-of-type(2) {
    top: 50%;
  }
  .navbar-hamburger span:nth-of-type(3) {
    top: 100%;
  }
  .navbar-hamburger:hover:nth-of-type(1), .navbar-hamburger:focus:nth-of-type(1) {
    transform: translateY(-4px);
  }
  .navbar-hamburger:hover:nth-of-type(3), .navbar-hamburger:focus:nth-of-type(3) {
    transform: translateY(8px/2);
  }
  .navbar-hamburger.close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 49%;
  }
  .navbar-hamburger.close span:nth-of-type(2) {
    opacity: 0;
  }
  .navbar-hamburger.close span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 49%;
  }
}
.navbar-links li {
  display: inline-block;
  position: relative;
}
.navbar-links li a {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
  font-weight: 800;
  color: #fafafa;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 14px 18px;
  /* 9 */
  padding: 1.4rem 1.8rem;
  /* 9 */
}
@media screen and (max-width: 824px) {
  .navbar-links li {
    display: block;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 4px 6px;
    /* 9 */
    padding: 0.4rem 0.6rem;
    /* 9 */
  }
}
.navbar-sublinks {
  display: none;
  position: absolute;
  width: auto;
  height: auto;
  top: 50px;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #6a7976;
  box-shadow: 2px 2px rgba(51, 51, 51, 0.2);
}
.navbar-sublinks li {
  width: 100%;
  display: block;
}
.navbar-sublinks li a {
  display: block;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 14px;
  /* 9 */
  font-size: 1.4rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 10px 14px;
  /* 9 */
  padding: 1rem 1.4rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin: 5px;
  /* 9 */
  margin: 0.5rem;
  /* 9 */
}
@media screen and (max-width: 824px) {
  .navbar-sublinks li a {
    margin: 0;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 4px 6px;
    /* 9 */
    padding: 0.4rem 0.6rem;
    /* 9 */
  }
}
@media screen and (max-width: 824px) {
  .navbar-sublinks {
    display: block;
    box-shadow: none;
    position: relative;
    top: 0;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 4px 6px;
    /* 9 */
    padding: 0.4rem 0.6rem;
    /* 9 */
  }
}
.navbar-links li:hover .navbar-sublinks, .navbar-links li:active .navbar-sublinks {
  display: block;
}

header {
  background: url("./images/background.jpg") no-repeat 50% 35%;
  background-size: cover;
  height: 35vh;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  letter-spacing: 3px;
  /* 9 */
  letter-spacing: 0.3rem;
  /* 9 */
}
@media screen and (max-width: 824px) {
  header {
    letter-spacing: 0;
  }
}
header .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
header .title {
  text-transform: uppercase;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: -25px;
  /* 9 */
  margin-bottom: -2.5rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 48px;
  /* 9 */
  font-size: 4.8rem;
  /* 9 */
  text-shadow: 0 1px 2px white;
}
@media screen and (max-width: 824px) {
  header .title {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 36px;
    /* 9 */
    font-size: 3.6rem;
    /* 9 */
  }
}
header .sub-title {
  color: #fafafa;
  text-shadow: 0 1px 2px #999999;
  text-align: center;
}

footer {
  background-color: #6a7976;
  color: #fafafa;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 10px;
  /* 9 */
  padding: 1rem;
  /* 9 */
}
footer .footer-navigation ul {
  list-style: none;
}
footer .footer-navigation ul a {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 12px;
  /* 9 */
  font-size: 1.2rem;
  /* 9 */
  color: #fafafa;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 14px 18px;
  /* 9 */
  padding: 1.4rem 1.8rem;
  /* 9 */
}

/*# sourceMappingURL=styles.css.map */
